@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    @apply m-0;
    @apply font-mono;
}

.show__dialog__btn {
    @apply py-2 px-4 rounded text-white bg-teal-500;
}

.show__dialog__btn:hover {
    @apply bg-teal-600;
}

.show__dialog__btn:focus {
    @apply outline-none shadow-outline;
}

.dialog {
    @apply hidden;
}

.dialog.opened {
    @apply block;
}

.dialog__window {
    @apply inline-block;
    @apply fixed;
    @apply bg-white;
    @apply rounded;
    @apply z-1;
    @apply p-5;
    @apply w-4/5;
    @apply shadow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@screen md {
    .dialog__window {
        @apply w-auto;
    }      
}

.dialog__mask {
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply h-full;
    @apply w-full;
    @apply bg-black;
    @apply opacity-50;
    @apply overflow-hidden;
    /* Doesn't work when put @apply z-0 */
    /* @apply z-0; */
}
